/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6f7ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.head-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 90px;
  font-style: italic;
  color: rebeccapurple;
  opacity: 0.3;
  margin-top: 20px;
}

.todos {
  max-width: 600px;
  width: 100%;
  background-color: lavender;
  margin-top: 5px;
  padding: 25px;
}

.header {
  display: flex;
}

.main-switch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rebeccapurple;
  cursor: pointer; 
  margin-right: 10px;
  align-self: center;
  transform: translateY(-50%);
}

.creating-todo {
  display: block;
  font-size: 25px;
  font-style: italic;
  padding: 5px 10px;
  border: 2px solid rebeccapurple;
  margin-bottom: 15px;
}

.todo-wrapper {
  display: flex;
  font-size: 25px;
  align-items: center;
  align-content: center;
  border-bottom: 2px dashed rebeccapurple;
}

.switch {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rebeccapurple;
  cursor: pointer;
}

.marked {
  background-color: rebeccapurple;
}

.todo-item {
  position: relative;
  color: #8d6c93;
  max-width: 100%;
  display: flex;
  padding: 10px 0;
}

.completed {
  color: #b8b8cd;
  text-decoration: line-through;
}

.todo-text {
  margin-left: 35px;
}

.close-todo {
  visibility: hidden;
  color: crimson;
  flex: 0 0 auto;
  margin-left: auto;
  cursor: pointer;
  text-decoration: none;
}

.todo-wrapper:hover .close-todo {
  visibility: visible;
}

.footer {
  margin-top: 30px;
  color: #757779;
  font-size: 16px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.clear-completed:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer__buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.footer__btn {
  color: #757779;
  font-size: 16px;
  background-color: transparent;
}

.footer__btn:nth-child(2) {
  margin: 0 25px;
}

.footer__btn:hover {
  text-decoration: underline rebeccapurple;
}

.active {
  color: rebeccapurple;
}
